<mat-toolbar>Sesiones </mat-toolbar>

<div class="example-container mat-elevation-z8">

  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar mentorizado">
    </mat-form-field>
  </div>

  <mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="fecha">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha sesion </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.fecha | date:'dd-MM-yyyy'}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="mentor">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Mentor </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.mentor.nombres}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="mentorizado">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Mentorizado </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.mentorizado.nombres}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="mentoria">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Tipo mentoria </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.especialidad.nombre}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="acciones">
      <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
      <mat-cell *matCellDef="let row">        
        <button mat-button color="primary" (click)="openDialog(row)" >Actualizar</button>
        <button mat-button color="accent" (click)="eliminar(row)">Eliminar</button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>

<br>

<button mat-fab color="accent" (click)="openDialog()" style="float: right; margin-right: 20px">
  <mat-icon>create</mat-icon>
</button>