<div class="color-page-tr">
    <h4 style="text-align: center; text-transform: uppercase; padding: 10px;">Nueva Ventas</h4>
</div>
<hr style="width: 95%;">
<div class="container" style="border-bottom: none;">
    <div class="row">
        <div class="col-3 text-center">
            <img class="img-fluid" *ngIf="logo" alt="user" style="border-radius: 0px; height: 90px;" src="{{empresadat.urlimagen}}">
        </div>
        <div class="col-5" style="display: block; text-align: start;">
            <p style="font-weight: bold;margin-bottom: 8px; margin-top: 10px;">{{empresadat.razon_social_empresa| uppercase}}</p>
            <p style="margin-bottom: 6px; ">{{empresadat.nro_documento_empresa}}</p>
            <!-- <p style="margin-bottom: 6px; ">{{empresadat.ubigeo.distrito}} - {{empresadat.ubigeo.provincia}}</p> -->
            <p style="margin-bottom: 6px; ">{{empresadat.direccion_empresa}}</p>
            <p style="margin-bottom: 6px; ">{{empresadat.email}} - {{empresadat.celular != null ? empresadat.celular: empresadat.telefono}}</p>
        </div>
        <div class="col-4" style="display: block; text-align: end; padding-top: 45px;">
            <label style="font-size: 19px; font-weight: bold;">No.</label>
            <input class="form-control form-control-lg" style="width: 43%; height: 44px; font-size: 16px; font-weight: bold; background: #fff;" [(ngModel)]="SerieandNum" disabled>
        </div>
    </div>
</div>

<hr style="width: 95%;">

<div class=" modal-footer ">
    <p style="font-size: 12px;position: absolute;left: 30px;opacity: 0.7;"> <span style="font-size: 30px;position: absolute;left: -15px;opacity: 0.7;">*</span>Campos obligatorios</p>


    <button [hidden]="boolean_editar" (click)="retroceder() " type="button " class="btn btn-warning btn-sm min " style="margin: 0px 5px; ">Retroceder</button>
    <button (click)="cancelar()" type="button " class="btn btn-danger btn-sm min " style="margin: 0px 5px; ">Cancelar</button>
    <button type="button " class="btn btn-info btn-sm min " (click)="continuar()" [disabled]="!tipoDocValido" style="margin: 0px 5px; ">Continuar</button>
</div>
